cloudpickle==3.0.0
gym==0.26.2
gym-notices==0.0.8
gym-super-mario-bros==7.4.0
lz4==4.3.3
nes-py==8.2.1
networkx==2.8.1
numpy==1.26.3
opencv-python==4.9.0.80
packaging==23.2
Pillow==9.0.0
pyglet==1.5.21
requests==2.26.0
tqdm==4.66.1
torch==1.10.0
torchrl==0.2.1
torchvision==0.16.2
